[submodule "globomantics"]
	path = globomantics
	url = https://github.com/chinweibegbu/globomantics
[submodule "react-hooks"]
	path = react-hooks
	url = https://github.com/chinweibegbu/react-hooks.git
[submodule "react-custom-hooks"]
	path = react-custom-hooks
	url = https://github.com/chinweibegbu/react-custom-hooks.git
[submodule "tdd-using-react"]
	path = tdd-using-react
	url = https://github.com/chinweibegbu/tdd-using-react.git
[submodule "react-17-getting-started"]
	path = react-17-getting-started
	url = https://github.com/chinweibegbu/react-17-getting-started.git
[submodule "react-component-design"]
	path = react-component-design
	url = https://github.com/chinweibegbu/react-component-design.git
[submodule "react-redux-fundamentals"]
	path = react-redux-fundamentals
	url = https://github.com/chinweibegbu/react-redux-fundamentals.git
[submodule "react-server-rendering"]
	path = react-server-rendering
	url = https://github.com/chinweibegbu/react-server-rendering.git
[submodule "react-forms"]
	path = react-17-forms
	url = https://github.com/chinweibegbu/react-17-forms.git
[submodule "react-17-redux"]
	path = react-17-redux
	url = https://github.com/chinweibegbu/react-17-redux.git
